@charset "utf-8";
/* css document*/
body{
	overflow-x: hidden;
	font-family: "Microsoft YaHei";
}
img{ width: 100%;}
.top{ width: 100%; background: #333333;}
.top .container1{ max-width: 1000px; min-width: 320px; margin: 0 auto;}
.top .container1 header>.logo{ width: 171px; padding-top: 11px; float: left; margin-right: 80px;}
.top .container1 header>nav{ width: 730px; float: left;}
.top .container1 header>nav>ul li{ width: 94px; float: left; line-height: 80px; height: 80px; text-align: center;}
.top .container1 header>nav>ul li:nth-of-type(1){ width: 65px;}
.top .container1 header>nav>ul li:nth-of-type(3){ background: #5c5c5c;}
.top .container1 header>nav>ul li>a{ color: #fdfdff; font-size: 14px; display: block; font-family: "Microsoft YaHei";}
.top .container1 header>nav>ul li:hover a{ background: #5c5c5c;}
.concent{ width: 100%;}
.concent .container2{ max-width: 1000px; min-width: 320px; margin: 0 auto;}
.container2 aside{  margin-top: 40px; float: left; border-right: 1px solid #bbbbbb; width: 281px;}
aside>ul li{ width: 265px; height: 77px; border-bottom: 3px solid white;}
aside>ul li:nth-of-type(6){ border-bottom: 3px solid #fa9634;}
aside>ul li>.img_font{ float: left; display: block; position: relative; padding-left:20px; padding-right: 15px; padding-top: 23px;}
aside>ul li>.img_font>.img2{ position: absolute; top: 23px; left: 20px; opacity: 0; width: 40px;}
aside>ul li>.left_a{ padding-top: 26px;}
aside>ul li>.left_a>a{ font-size: 24px; color: #222;}
aside>ul li:hover{ border-bottom: 3px solid #fa9634;}
aside>ul li:hover .img_font>.img2{ opacity: 1;}
aside>ul li:hover .img_font>.img1{ opacity: 0;}
.container2 section{ float: left; margin-top: 40px; margin-left: 44px; width: 654px; margin-bottom: 204px;}
section>h4{  font-size: 18px; font-weight: bold; color: #fa9634; height: 18px; line-height: 18px; margin-top: 8px;}
section>p{ font-size: 16px; line-height: 30px; color: #000000; margin-top: 7px;}
section>.img_dont{ padding-bottom: 26px; padding-top: 13px;}
section>.img_bont{  padding-top: 13px; padding-bottom: 43px;}
footer{ width: 100%; background: #333333;}
footer>.container3{ max-width: 1000px; min-width: 320px; margin: 0 auto;}
.container3>ul li{ float: left; width: 220px; padding-top: 40px; padding-bottom: 91px; line-height: 29px;}
.container3>ul li:nth-of-type(4){ width: 265px;}
.container3>ul li>span{ color:#FFF ; font-size:14px; text-align: left; display: block;}
@media screen and (max-width:1000px ) and (min-width:720px) {
.top .container1 header>.logo{ width: 17.1%; padding-top: 1.5%; float: left; margin-right: 7.5%; margin-left: 4%;}
.top .container1 header>nav{  width: 70%;}	
.top .container1 header>nav>ul li{ width: 12%; float: left;  text-align: center;}
.top .container1 header>nav>ul li:nth-of-type(1){ width: 8.5%;}
.top .container1 header>nav>ul li:hover a{ background: none;}
.container2 aside{  margin-top: 4%; margin-bottom: 16.9%; width: 28.1%; margin-left: 2%;}
aside>ul{ margin-right: 15px;}
aside>ul li{ width: 100%; border-bottom: 3px solid white; cursor: pointer;}
aside>ul li>.img_font{ padding-left:20px; padding-right: 15px;}
aside>ul li>.left_a{ padding-top: 29px;}
aside>ul li>.left_a>a{ font-size: 23px; color: #222;}
aside>ul li>.left_a>a>span{ font-size: 23px; color: #222; display: none;}
.container2 section{ margin-top: 4%; margin-left: 4%; width: 63%; margin-bottom: 20.4%; margin-right: 2%;}
section>.img_dont{ padding-bottom: 26px; padding-top: 13px;}
section>.img_bont{  padding-top: 13px; padding-bottom: 43px;}
section>.img_dont>img{ width: 100%;}
section>.img_bont>img{ width: 100%;}
.container3>ul{ width: 90%; padding-right: 5%; padding-left: 5%;}
.container3>ul li{ width: 50%; padding-bottom: 0; padding-top: 0;}
.container3>ul li>span{ display: block; margin-left: 67px;}
.container3>ul li:nth-of-type(1){ padding-top: 4.9%; padding-bottom: 3.5%;  }
.container3>ul li:nth-of-type(2){ padding-top: 4.9%; padding-bottom: 3.5%;}
.container3>ul li:nth-of-type(3){ padding-top: 0; padding-bottom: 3.5%; }
.container3>ul li:nth-of-type(4){ padding-top: 0; padding-bottom: 3.5%;}
.container3>ul li:nth-of-type(4){ width:50%;}
}
@media screen and (max-width:720px ) and (min-width:480px) {
.top .container1 header>.logo{ width: 23%; padding-top: 1.5222%; float: left; margin-left: 4%;}
.top .container1 header{ position: relative;}
.top .container1 header>nav{ display: none;}
.top .container1 header>.design{ display: block; position: absolute; top: 40%; left: 47%; color: #FFFFFF; font-size: 16px;}	
.top .container1 header>.pop_button{ display: block;  width: 25px; height: 15px; position: relative; position: absolute; top: 40%; right: 10%; cursor: pointer;}
.top .container1>.nav>ul{ width: 100%;}
.top .container1>.nav>ul li{ width:25% ; float: left; text-align: center; margin-bottom: 10px;}
.top .container1>.nav>ul li>a{ display: block; color: #9D9D89; font-size: 14px;}
.top .container1>.nav>ul li>a:hover{ color: #FFFFFF;}
.container2 aside{  margin-top: 25px; clear: both; margin-bottom: 0px; width: 100%; border-right: 0;}
aside>ul{ padding-left: 5%; padding-right: 5%;}
aside>ul li{ float: left; width: 33.3%; text-align: center;}
aside>ul li:nth-of-type(6){ border-bottom: 3px solid white;}
aside>ul li>.img_font{ float: left; display: block; position: relative; padding-left:15px; padding-right:8px;}
aside>ul li>.left_a>a{ font-size: 18px; color: #222;}
aside>ul li>.left_a>a>span{ display: none;}
aside>ul li:hover{ border-bottom: 3px solid white;}
aside>ul li>.img_font>.img2{ position: absolute; top: 23px; left: 15px; opacity: 0; width: 40px;}
.container2 section{ clear: both; margin-top: 4%; margin-left: 0px; width: 94%; margin-bottom: 10%; margin-left: 3%; margin-right: 3%;}
section>p{ text-indent: 24px;}
.container3>ul{ width:95%; padding:0 0 0 5%;}
.container3>ul>li{ width:40%; padding:20px 0;}
.container3>ul>li:nth-of-type(1),.container3>ul>li:nth-of-type(2){padding:30px 0 0 0;}
.container3>ul li:nth-of-type(2n){width:60%;}
}
@media screen and (max-width:480px) {
.top .container1 header>.logo{ width: 24%; padding-top: 1.4%; float: left; margin-left: 4%;}
.top .container1 header{ position: relative;}
.top .container1 header>nav{ display: none;}
.top .container1 header>.design{ display: block; position: absolute; top: 29%; left: 47%; color: #FFFFFF; font-size: 16px;}	
.top .container1 header>.pop_button{ display: block;  width: 25px; height: 15px; position: relative; position: absolute; top: 29%; right: 10%; cursor: pointer;}
.top .container1>.nav>ul{ width: 100%;}
.top .container1>.nav>ul li{ width:25% ; float: left; text-align: center; margin-bottom: 10px;}
.top .container1>.nav>ul li>a{ display: block; color: #9D9D89; font-size: 14px;}
.top .container1>.nav>ul li>a:hover{ color: #FFFFFF;}
.container2 aside{  margin-top: 20px; clear: both; margin-bottom: 0px; width: 100%; border-right: 0;}
aside>ul{ margin-left: 2%; margin-right: 1%;}
aside>ul li{  float: left; width: 33%; border-bottom: none; margin-bottom: 20px;}
aside>ul li:nth-of-type(6){ border-bottom: none; }
aside>ul li>.img_font{ clear: both; padding-right: 0px; padding-left: 45px;}
aside>ul li>.left_a{ clear: both; padding-top: 8px; text-align: center;}
aside>ul li>.left_a>a{ font-size: 18px;}
aside>ul li>.left_a>a>span{ display: none;}
aside>ul li>.img_font>.img2{ position: absolute; top: 23px; left: 45px; opacity: 0; width: 40px;}
aside>ul li:nth-of-type(2)>.left_a{ padding-top: 5px;}
aside>ul li:nth-of-type(5)>.left_a{ padding-top: 4px;}
aside>ul li:nth-of-type(6)>.left_a{ padding-top: 4px;}
aside>ul li:hover{ border-bottom: none;}
.container2 section{ clear: both; margin-top: 6.5%; margin-left: 0px; width: 94%; margin-bottom: 10%; margin-left: 3%; margin-right: 3%;}
section>p{ text-indent: 24px;}
.container3>ul{ margin-left: 25%;}
.container3>ul li{ width: 100%;}
.container3>ul li:nth-of-type(1){ padding-top: 20px; padding-bottom: 2%;}
.container3>ul li:nth-of-type(2){ padding-top: 0; padding-bottom: 2%;}
.container3>ul li:nth-of-type(3){ padding-top: 0; padding-bottom: 2%;}
.container3>ul li:nth-of-type(4){ padding-top: 0; padding-bottom: 20px;}	
}
